@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@mixin color($color, $text-color) {
    &.btn,
    &.nav-link {
        background-color: $color;
        color: $text-color;
        border-color: $text-color;

        &:hover {
            background-color: shade-color($color, 20%);
        }

        &.active {
            color: $text-color;
            background-color: $color;
        }
    }

    &.bi {
        color: $color;
    }
}

body {
    background-color: lightgray;

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
}

.blue  {
    @include color($blue-300, white);
}

.indigo {
    @include color($indigo-300, white);
}

.purple {
    @include color($purple-300, white);
}

.pink {
    @include color($pink-300, white);
}

.red {
    @include color($red-300, white);
}

.orange {
    @include color($orange-300, white);
}

.yellow {
    @include color($yellow-300, white);
}

.green {
    @include color($green-300, white);
}

.teal {
    @include color($teal-300, white);
}

.cyan {
    @include color($cyan-300, white);
}

.gray {
    @include color($gray-300, black);
}
