@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
    background-color: lightgray;

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
}
