<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Piard Sylvian{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('build/logo-sp-min.png') }}" />
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
